# {project_name}

{description}

## Table of Contents

- [Getting Started](#getting-started)
  - [Installation](#installation)
  - [Setup for Development](#setup-for-development)
- [Usage](#usage)
- [Commands](#commands)
  - [Testing](#testing)
  - [Linting](#linting)
  - [Formatting](#formatting)
  - [Releasing](#releasing)
- [License](#license)

## Getting Started

### Installation

Install `{project_name}` with pip:

```shell
pip install {project_name}
```

### Setup for Development

If you're looking to contribute or develop with `{project_name}`, get the source code and set up the environment:

```shell
git clone https://github.com/{author}/{project_name}
cd {project_name}
poetry install && poetry shell
```

## Usage

With `{project_name}` installed, you can use it in your Python projects:

```python
import {project_name}
```

## Commands

Here are common commands you might need while working with the project:

### Formatting

```shell
make fmt
```

### Linting

```shell
make lint
```

### Testing

```shell
make test
```

## License

This project is licensed under the [Apache License 2.0](https://www.apache.org/licenses/LICENSE-2.0)
