    def handle(self, message: ApiHttpMessage) -> None:
        """Handle incoming API HTTP messages."""
        method = message.method.lower()
        url = message.url
        body = message.body

        path = "/" + "/".join(url.split("/")[3:])

        normalized_path = path.rstrip("/")
        normalized_path = re.sub(r"/(\d+)(?=/|$)", "/userid", normalized_path)

        handler_name = f"handle_{method}_{normalized_path.lstrip('/').replace('/', '_')}"
        handler_method = getattr(self, handler_name, None)

        if handler_method:
            kwargs = {"body": body} if method in {"post", "put", "patch", "delete"} else {}
            id_match = re.search(r"/(\d+)(?=/|$)", path)
            if id_match:
                kwargs["user_id"] = id_match.group(1)

            return handler_method(message, **kwargs)

        return self.handle_unexpected_message(message)

{{ all_methods }}

{{ unexpected_message_handler }}